<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle || config.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle || config.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <a id="linkedin-link" class="nav-icon" href="https://www.linkedin.com/in/bo-xuan-fan" title="Linkedin"></a>
        <a id="fb-link" class="nav-icon" href="https://www.facebook.com/Boxuan.Fan" title="Facebook"></a>
        <a id="github-link" class="nav-icon" href="https://github.com/Coffee0127" title="GitHub"></a>
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
        </nav>
        <div id="search-form-wrap">
          <div id="site_search" class="search-form">
            <input id="local-search-input" type="search" name="q" results="0" class="form-control search-form-input" placeholder="Search" />
            <span class="search-form-submit"></span>
            <div id="local-search-result"></div>
          </div>
        </div>
    </div>
  </div>
</header>
